body {
	background-color: black;
}

input {
	border: 3px solid black;
	-webkit-border-radius: 10px;
}

#barre_nav {
	background-color: white;
	border: 5px solid white;
	-webkit-border-radius: 10px;
}

.actif {
	opacity: 0.50;	
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	background-color: white;
	border: 3px solid black;
}

#projet {
	height: 40px; 
	width: 120px;
}

#liens {
	height: 40px; 
	width: 120px;
}

#changer {
	height: 40px; 
	width: 120px;
}

p {
	background-color: white;
	border: 3px solid white;
	margin: 0;
	display: flex;
	align-items: center;
}

#moins {
	height: 30px; 
	width: 30px;
	display:-webkit-flex;
	display:flex;
	flex-direction:column;
}

h2 {
	background-color: white;
	column-count: 2;
	border: 3px solid white;	
}

h3 {
	position: absolute;
	top: 5px;
	right: 20px;
}

footer {
	display: flex;
	justify-content: flex-end;	
}

#gif_plante {
	height: 80px; 
	width: 40px;
	border: 3px solid white;
	-webkit-border-radius: 10px;
}